@use '../scss/' as *;

body {
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(213, 216, 216) 100%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.sBox {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  height: 100vh;
}

.backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.backdrop svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 132px;
}

.backdrop .shape-fill {
  fill: #ed6a5a;
}

h1 {
  font-family: 'sunflower', serif;
  color: #000;
  font-size: 8em;
  position: relative;
  font-weight: 100;
  margin: -0.2em;
  text-align: center;
  text-shadow: 0px 0px 35px rgb(255, 255, 255);
  @media screen and (max-width: 768px) {
    font-size: 10vh;
    text-align: center;
    margin: 0;
    margin-left: -0.5em;
  }
}

iframe {
  align-self: center;
  margin: 1vw;
  width: 356px;
  height: 200px;
  opacity: 0;
  @media screen and (max-width: 768px) {
    width: 35.6vh;
    height: 20vh;
    margin: 1vh;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  fill: black;
  position: flex;
  z-index: 2;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
  &:hover {
    background: $sinon-white;
    border-radius: 100rem;
    transform: scale(1.2);
    padding: 1em;
    margin-top: -1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

.nav {
  position: absolute;
  top: 10vh;
  width: auto;
  height: auto;
}

.dropbtn {
  font-family: 'Lato';
  font-weight: bold;
  width: 200px;
  margin: 0.5vw;
  color: $sinon-red;
  border-color: $sinon-red;
  border-radius: 0.5em;
  transition: ease 0.2s transform;
  font-size: 1.5em;
  opacity: 0;
  line-height: 0.5;
  padding: 0.5rem 3rem;
  color: $sinon-black;
  border: solid 3px transparent;
  background-color: rgba(0, 0, 0, 0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
  sub {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    margin: 1vh;
  }
}

.dropdown {
  font-family: 'Lato';
  position: relative;
  display: inline-block;
  &:hover {
    .dropbtn {
      background: $sinon-red;
      color: $sinon-white;
      transform: scale(1.1);
      box-shadow: none;
      border: solid 3px transparent;
      border-radius: 2em;
    }
    .dropdown-content {
      display: block;
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 5px;
  background-color: $sinon-white;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: $sinon-black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    &:hover {
      background-color: #ddd;
    }
  }
}
