@import './text', './design', './pages', './video', './mo';
$breakpoint: 768px;

html {
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#mainBody {
  background: linear-gradient(to top right, #803cff, rgb(47, 35, 49));
}

/* .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  #name {
    top: 50px;
  }
  img {
    width: 100%;
    max-width: 28vw;
    margin-bottom: -15px;
  }
  @media screen and (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-bottom: 5vh;
  }
} */

.glow {
  box-shadow: 0px 0px 44px 3px rgba(255, 194, 255, 0.33);
}

.video-player {
  img {
    transition: 1s all;
    &:hover {
      -webkit-filter: brightness(105%);
      box-shadow: 0px 0px 54px 3px rgba(255, 194, 255, 0.53);
    }
  }
}

.play {
  position: absolute;
}

.grow {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.04) !important;
    border-radius: 50px !important;
    .play {
      transition: all 1s ease;
      opacity: 0.05;
    }
  }
}

.growText {
  transition: all 0.2s ease-in-out;
  &:hover {
    font-size: 19pt;
  }
  @media screen and (max-width: 768px) {
    &:hover {
      font-size: 15pt;
    }
  }
}
