@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: 'sunflower';
  src: url("/assets/webfonts/made_sunflower-webfont.ttf") format("truetype"), url("/assets/webfonts/made_sunflower-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  background: radial-gradient(circle, white 0%, #d5d8d8 100%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 100vh;
}

.backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.backdrop svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 132px;
}

.backdrop .shape-fill {
  fill: #ed6a5a;
}

h1 {
  font-family: 'sunflower', serif;
  color: #000;
  font-size: 8em;
  position: relative;
  font-weight: 100;
  margin: -0.2em;
  text-align: center;
  text-shadow: 0px 0px 35px white;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 10vh;
    text-align: center;
    margin: 0;
    margin-left: -0.5em;
  }
}

button {
  font-family: 'Lato';
  font-weight: bold;
  width: 200px;
  margin: 0.5vw;
  background: -webkit-gradient(linear, left bottom, right top, from(#FFAC99), to(#FF769A));
  background: linear-gradient(to top right, #FFAC99, #FF769A);
  color: white;
  border-color: linear-gradient(to top right, #FFAC99, #FF769A);
  border-radius: 0.5em;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
  font-size: 1.5em;
  opacity: 0;
  line-height: 0.5;
  padding: .5rem 3rem;
  color: black;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, right top, from(#FFAC99), to(#FF769A));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to top right, #FFAC99, #FF769A);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  cursor: pointer;
}

button sub {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

button:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#FFAC99), to(#FF769A));
  background: linear-gradient(to top right, #FFAC99, #FF769A);
  color: white;
  color: linear-gradient(to top right, #FFAC99, #FF769A);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2em;
  border: 0;
}

@media screen and (max-width: 768px) {
  button {
    margin: 1vh;
  }
}

iframe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1vw;
  width: 356px;
  height: 200px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 35.6vh;
    height: 20vh;
    margin: 1vh;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  fill: black;
  position: flex;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
}

.icon:hover {
  background: white;
  border-radius: 100rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 1em;
  margin-top: -1em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.nav {
  position: absolute;
  top: 10vh;
  width: auto;
  height: auto;
}
/*# sourceMappingURL=sinon.css.map */