@font-face {
  font-family: 'sunflower';
  src: url('/assets/webfonts/made_sunflower-webfont.ttf') format('truetype'),
    url('/assets/webfonts/made_sunflower-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
